@model IEnumerable<TestHighSchool.Models.CourseModel>

@{
    ViewBag.Title = "Cursos";
    ViewBag.Single = "Curso";
}

<!-- Content Header (Encabezado en el contenido de la pagina) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    <i class="fa-solid fa-user-tie"></i>&nbsp; @ViewBag.Title
                    <!-- <em class="fw-ligth text-muted lead text-sm">| </em> -->
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house"></i>&nbsp;Inicio</a></li>
                    <li class="breadcrumb-item">Administración</li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- card -->
    <div class="card card-outline card-dark shadow">
        <div class="container-fluid mt-2">
            <a href="~/Cours/Create" class="btn btn-success text-uppercase float-end fw-bold" accesskey="a"><i class="fa-solid fa-circle-plus"></i>&nbsp;Agregar @ViewBag.Single (Alt+a)</a>

        </div>
        <div class="card-body">
            <!-- tabla -->
            <div class="table-responsive p-3">
                <table id="table" class="table table-hover text-center" style="width:100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Student)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Teacher)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Evaluation2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Evaluation3)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Evaluation1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FinalAverage)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Student</th>
                                <th>@item.Teacher</th>
                                <th>@item.Evaluation1</th>
                                <th>@item.Evaluation2</th>
                                <th>@item.Evaluation3</th>
                                <th>@item.FinalAverage</th>
                                <td>
                                    <div class="btn-group">
                                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Ver detalle", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="thead-dark">
                            <th>
                                @Html.DisplayNameFor(model => model.Student)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Teacher)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Evaluation2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Evaluation3)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Evaluation1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FinalAverage)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>